.block {
  display: block;
}

.inline_block {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.titanic {
  float: none;
}

.lower {
  bottom: 10px;
}

.space {
  margin-right: 6%;
}

.scroll {
	overflow: scroll;
}

.inline {
  display: inline;
}

.bold {
  font-weight: bold;
}
